
/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
/* .hero{
  background: linear-gradient(90deg, #013223 0%, #006747 50%, #013223 100%);

} */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #006747 
}
.logo img {
  width: 30px;
  height: 30px;
}
.stats {
  display: flex;
  gap: 15px;
  align-items: center;
}
.stats span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.top-btn {
  background: #22c55e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}
.hero {
  text-align: center;
background: linear-gradient(90deg, #013223 0%, #006747 50%, #013223 100%);
  color: #fff;
  padding: 25px;
}
.hero img {
  width: 70px;
  margin-bottom: 10px;
}
.hero h1 {
  margin: 0;
  font-size: 22px;
}
.hero p {
  margin: 5px 0 0;
  font-size: 14px;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
  padding: 0 15px;
}
.cards {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  gap: 20px;
}
.emgency{
  max-width: 25px;
}

.police{
  max-width: 35px;
}

.fire{
  max-width: 35px;
}
.ambulance{
  max-width: 35px;
}
.brac{
  max-width: 35px;
}
.railway{
  max-width: 35px;
}
.card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card h3 {
  margin: 0;
  font-size: 16px;
}
.card p {
  margin: 5px 0;
  color: #555;
  font-size: 13px;
}
.number {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.btn {
  flex: 1;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.copy {
  background: #f3f4f6;
}
.call {
  background: #22c55e;
  color: #fff;
}
.call-history {
  width: 250px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 16px;
  padding-bottom: 100%;
}

.call-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.call-header h3 {
  font-size: 16px;
  margin: 0;
}

.clear-btn {
  background: #00b060;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.clear-btn:hover {
  background: #00964d;
}

.call-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background 0.2s ease;
}

.call-item:hover {
  background: #eaeaea;
}

.call-item h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.call-item p {
  margin: 2px 0 0;
  font-size: 13px;
  color: #555;
}

.call-item span {
  font-size: 12px;
  color: #777;
}